<h1 class="mt-3 mb-5"><%= @title %></h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Index</th>
            <th scope="col">採番ID</th>
            <th scope="col">削除</th>
        </tr>
    </thead>
    <tbody>
        <% @list.each do |data| %>
        <tr>
            <th scope="row"><a href="/saiban/edit/<%= data.id %>"><%= data.id %></a></td>
            <td><%= data.index %></td>
            <td><%= data.koumoku_id %></td>
            <td><a href="/saiban/destroy/<%= data.id %>">削除</a></td>
        </tr>
        <% end %>
    </tbody>
</table>
