<div class="container">
    <h1 class="mt-3 mb-5"><%= @title %></h1>
    <ul>
        <li><a href="/account/create">登録</a></li>
        <li><a href="/account/delete">全削除</a></li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">種類</th>
                <th scope="col">コード</th>
                <th scope="col">名前</th>
                <th scope="col">ID</th>
                <th scope="col">PASSWORD</th>
                <th scope="col">備考1</th>
                <th scope="col">備考2</th>
                <th scope="col">備考3</th>
            </tr>
        </thead>
        <% @data.each do |o| %>
        <tbody>
            <tr>
                <th scope="row"><%= "#{o.id}" %></th>
                <td><%= "#{o.kind}"%> </td>
                <td><%= "#{o.user_cd}" %></td>
                <td><%= "#{o.user_name}" %></td>
                <td><%= "#{o.account_id}" %></td>
                <td><%= "#{o.password}" %></td>
                <td><%= "#{o.biko1}" %></td>
                <td><%= "#{o.biko2}" %></td>
                <td><%= "#{o.biko3}" %></td>
            </tr>
        </tbody>
        <%end%>
    </table>
</div>
