<h1><%= @title %></h1>
<ul>
    <li><a href="/masta_toris/new">新規登録</a></li>
    <li><a href="#">#</a></li>
</ul>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">取引先コード</th>
            <th scope="col">取引先名（漢字）</th>
            <th scope="col">取引先名（ひらがな）</th>
            <th scope="col">郵便番号</th>
            <th scope="col">住所（県）</th>
            <th scope="col">住所（市）</th>
            <th scope="col">住所（丁目）</th>
            <th scope="col">住所（区）</th>
            <th scope="col">住所（その他）</th>
        </tr>
    </thead>
    <tbody>
        <% @all.each do |d| %>
        <tr data-href=<%= "/masta_toris/#{d.id}/edit" %>>
            <th scope="row"><%= "#{d.id}" %></th>
            <td><%= "#{d.tcd}"%></td>
            <td><%= "#{d.tname}"  %></td>
            <td><%= "#{d.tnname}" %></td>
            <td><%= "#{d.tyubin_no}" %></td>
            <td><%= "#{d.tjusho1}" %></td>
            <td><%= "#{d.tjusho2}" %></td>
            <td><%= "#{d.tjusho3}" %></td>
            <td><%= "#{d.tjusho4}" %></td>
            <td><%= "#{d.tjusho5}" %></td>
        </tr>
        <%end%>
    </tbody>
    <script>
        $('tr[data-href]').click(function (e) {
            window.location = $(this).attr("data-href");
        });
    </script>
    <style>
        table {
            border-collapse: collapse;
        }

        tbody tr:hover {
            background: gray;
            cursor: pointer;
        }
    </style>
</table>